<!DOCTYPE html>
<html id="<%= name %>">
<head>
  <meta charset="utf8">
  <title><%= name %></title>
  <script type="text/javascript" data-main="<%= pushState ? root : '' %>js/main" src="<%= pushState ? root : '' %>js/vendor/require/require.js"></script>
</head>
<body>
</body>
</html>